.sh-bgc{background-color: #5CBAFA;}
.sh-bgc-999{background-color: #999;}
.sh-bgc-C7C7C7{background-color: #C7C7C7;}
.sh-bgc-FEF4E8{background-color: #FEF4E8;}
.sh-bgc-FFF1EE{background-color: #FFF1EE;}
.sh-bgc-FFF1EE{background-color: #FFF1EE;}
.sh-bgc-E1EEFF{background-color: #E1EEFF;}
.sh-bgc-E2F6F7{background-color: #E2F6F7;}
.sh-bgc-EFF1FE{background-color: #EFF1FE;}
.sh-bgc-F4F6FA{background-color: #F4F6FA;}

.sh-bgc-c{background-color: #5CBAFA;color: #fff;}
.sh-color-434343{background-color: #434343;}
