.p-bgc-F7F7F7{background-color: #F7F7F7;}
.p-bgc-EBF9FF{background-color: #EBF9FF;}
.p-bgc-46C0F0{background-color: #46C0F0;}
.p-bgc-FFF2EB{background-color: #FFF2EB;}
.p-bgc-FAFAFA{background-color: #FAFAFA;}
.p-bgc-FFF1F0{background-color: #FFF1F0;}
.p-c-767676{color: #767676}
.p-c-46C0F0{color: #46C0F0}
.p-c-1D1E1F{color: #1D1E1F}
.p-c-8F9499{color: #8F9499}
.p-c-5F6366{color: #5F6366}
.p-c-F08746{color: #F08746}
.p-c-A7ADB2{color: #A7ADB2}
.p-c-F05746{color: #F05746}

.goods-label-1 {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background-color: #F08746;
    border-radius: 20rpx 0 20rpx 0;
    font-size: 22rpx;
    padding: 4rpx 20rpx;
    box-sizing: border-box;
}

.goods-label-2 {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background-color: #46C0F0;
    border-radius: 20rpx 0 20rpx 0;
    font-size: 22rpx;
    padding: 4rpx 20rpx;
    box-sizing: border-box;
}
